<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FileBinaryTransferSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.lianshi.gov.cn:6295/jianchawei/FileBinaryTransfer.asmx"
                binding="basicHttpBinding" bindingConfiguration="FileBinaryTransferSoap"
                contract="ServiceReference1.FileBinaryTransferSoap" name="FileBinaryTransferSoap" />
        </client>
    </system.serviceModel>
</configuration>